* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.App nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 0;
  background: #fff;
}
.App nav img {
  width: 50%;
}
.App nav .icon-size {
  font-size: 1.5em;
  cursor: pointer;
}
.App .text-under-nav {
  font-size: 1em;
  padding: 0 0.5em;
  margin: 1.5em 0;
  text-align: center;
  color: #28282b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App .displayItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App .displayItem img {
  width: 80%;
  margin: 1.5em auto;
}
.App .displayItem .displayText {
  padding: 1em 1.5em;
  font-family: sans-serif;
}
.App .displayItem .displayText h1 {
  margin: 0 0 0.5em;
}
.App .displayItem .displayText p#one {
  margin-bottom: 1em;
}
.App .displayItem .displayText p#two {
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 1.5em;
}
.App .displayItem .displayText p {
  margin: 0.5em 0;
}
.App .displayItem .displayText .sizes {
  display: flex;
  margin: 1.5em 0;
}
.App .displayItem .displayText .sizes .size {
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration-color: red;
  -moz-text-decoration-color: red;
}
.App .displayItem .displayText .color span {
  margin: 0.5em 0 1em;
  width: 45px;
  height: 45px;
  border: 2px solid #28282b;
  display: inline-block;
}
.App .displayItem .displayText .quantity {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.App .displayItem .displayText .quantity p:nth-of-type(2) {
  display: flex;
  width: 40%;
  padding: 1em 0;
  margin-left: 1em;
  justify-content: space-around;
  border: 1px solid rgba(40, 40, 43, 0.3764705882);
  cursor: pointer;
}
.App .displayItem .displayText .btn {
  display: flex;
  flex-direction: column;
}
.App .displayItem .displayText .btn button {
  padding: 1.2em 0;
  margin: 0.5em 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.App .displayItem .displayText .btn button:nth-of-type(2) {
  background: #28282b;
  color: #fff;
}
.App .hamburger {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
}
.App .hamburger .left {
  width: 80%;
  height: 100%;
  background-color: #fff;
}
.App .hamburger .right {
  width: 20%;
  height: 100%;
  background-color: rgba(40, 40, 43, 0.862745098);
}
.App .help {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  margin: 1em 2em 2em;
  padding: 1em;
  color: #fff;
  background-color: #28282b;
  font-family: cursive;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.App .help h4 {
  font-size: 0.9em;
  color: rgba(207, 238, 160, 0.493);
}
.App .help .icon-style {
  font-size: 3em;
  margin-right: 0.3em;
}
.App .clotheList {
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
}
.App .clotheList h3 {
  text-align: center;
}
.App .clotheList .clothes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.App .clotheList .clothes .clothe {
  width: 180px;
  margin: 15px;
  text-align: center;
  cursor: pointer;
}
.App .clotheList .clothes .clothe img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.App .clotheList .clothes .clothe h2 {
  font-size: 0.7em;
  margin: 0.5em 0;
}
.App .clotheList .clothes .clothe .color {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(40, 40, 43, 0.368627451);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 0.5em auto;
}
.App .clotheList .clothes .clothe .sizes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}
.App .clotheList .clothes .clothe .sizes P {
  margin: 0 0.3em;
}
.App .cart-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
}
.App .cart-container .cart-nav-bar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 1.5em 0;
  align-items: center;
}
.App .cart-container .cart-list {
  width: 100%;
}
.App .cart-container .cart-list .cart-item .cart-top {
  display: flex;
}
.App .cart-container .cart-list .cart-item .cart-top img {
  width: 30%;
}
.App .cart-container .cart-list .cart-item .cart-top .top {
  width: 70%;
  padding: 1.5em;
}
.App .cart-container .cart-list .cart-item .cart-top .top .name {
  display: flex;
  justify-content: space-between;
}
.App .cart-container .cart-list .cart-item .cart-top .top .name .text h4 {
  margin-bottom: 1em;
}
.App .cart-container .cart-list .cart-item .cart-top .top .cart-bottom-text {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.App .cart-container .cart-list .cart-item .cart-top .top .cart-bottom-text .quantity p span {
  margin: 0 0.5em;
}
.App .activeColor {
  background: #28282b;
  color: #fff;
}/*# sourceMappingURL=index.css.map */